@import '../nav-bar';
$primary-font: 'Open Sans', sans-serif;
body {
    display: flex;
    flex-direction: column;
    margin: auto;
    // background-image: url("../images/horror-img.jpg");
    background-image: url("/images/horror/stella-rosalyn-yUVg_VFdSq4-unsplash.jpg");
    width: 100%;
    min-height: 1440px;
    background-position: center;
    background-size: cover;
    
    


}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.box {
    // background-color: rgb(37, 32, 32);
    // border: rgb(116, 115, 115) 2px solid;
    background-image: url("/images/horror/gothic-horror.jpg");
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: black 3px 3px 3px ;

    border-radius: 5px;
    border: 1px white solid;
    // box-shadow: 5px 5px rgb(116, 115, 115)
}


.horror-menu {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu-browse {
    font-weight: bold;
    font-size: 35px;
}

.menu-texts {
    margin-bottom: 75px;
}

.menuitem {
    padding: 2px;
}



.book-menu {
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 100%;


}


.books {
  width: 80px;
  height: 100px;
  margin-bottom: 25px;
}


.goth-book {
  text-align: center;
  max-width: 100px;

  &:hover {
    transform:scale(1.02);
  }
}


.title {
    font-size: 14px;
    font-weight: bold;
  }
  
.author {
    font-weight:500;
}

.return {
    scale: 2;
    color: white;

    &:hover {
        transform: scale(1.25);

    }
    &-arrow {
        align-self: flex-start;
        margin-left: 25px;
    }
}


.breadcrumb {
    align-self: flex-start;
}


 ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  

  ul.breadcrumb li {
    display: inline;
    font-size: 14px;
  }
  

  ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(255, 255, 255);
    content: "/\00a0";
  }
  


  ul.breadcrumb li a {
    color: #f7f7f7;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #7e0101;
    text-decoration: underline;
  } 